
.whoami strong {
    text-transform: capitalize;
    color: #44998E;
}

.whoami {
    padding: 20px 0;
    text-align: center;
    color: white;
    background-color: #000000;
    margin-bottom: 24px;
}

.whoami p {
    width: 65%;
    margin: 0 auto 16px auto;
}

.whoami h4 {
    font-style: italic;
    font-weight: normal;
}

.domains {
    margin-bottom: 48px;
}
.domains .domain {
    height: 300px
}

.domains .domain a {
    position: absolute;
    bottom: 0px;
    right: 0px;
}
